langchain
langchain_huggingface
langchain_community
langchain_text_splitters
llama-index
sentence-transformers
torch
pypdf
qdrant-client
langchain_groq
groq
streamlit
langchain_openai



qdrant-client
pandas

langchain-core
sentence-transformers
langchain-text-splitters
langchain-openai
streamlit
groq
qdrant-client
python-dotenv


